<div class="m-dialog box scrollbar-inner">
    <% _.each(res.replies, function(reply) { %>
    <div class="reply-container">
            <div class="cols col-1 avatar-contents">
                <% if(reply.pick) { %>
					<svg class="ribbon" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 17.8 22.8" enable-background="new 0 0 17.8 22.8" xml:space="preserve">
						<polygon points="9.9,14.1 9.6,14.2 9.3,14.2 8.6,14.2 7.8,14.2 7.6,14.1 7,14.1 6.7,14 6.3,13.9 6,13.8 5.6,13.6 5.3,13.5 4.9,13.3   4.6,13.2 4.2,12.9 4,12.8 3.6,12.5 3.4,12.3 0.1,19.3 5.1,17.3 6.7,22.3 10.6,14 9.9,14.1 " />
						<polygon points="14.2,12 14.2,12 13.6,12.5 13.6,12.5 12.9,13 12.9,13 12.1,13.4 12.1,13.4 11.3,13.7 11.3,13.7 11.3,13.8 9.2,18.4   11,22.3 12.7,17.3 17.6,19.3 14.2,12 " />
						<g>
							<path d="M8.6,1.4c-3,0-5.5,2.5-5.5,5.5s2.5,5.5,5.5,5.5S14,9.9,14,6.9S11.6,1.4,8.6,1.4z" />
							<path d="M8.6,0.2c-3.7,0-6.7,3-6.7,6.7s3,6.7,6.7,6.7s6.7-3,6.7-6.7S12.3,0.2,8.6,0.2z M8.6,12.9c-3.3,0-6-2.7-6-6s2.7-6,6-6   s6,2.7,6,6S11.8,12.9,8.6,12.9z" />
						</g>
					</svg>
                    <span class="editor">EDITOR'S PICK</span>
                <% } %>
                <img src="<%= reply.avatar.url %>" class="reply-avatar">
                <% if(!reply.follow) { %>
                    <button type="button" class="btn-follow">FOLLOW</button>
                <% } %>
                <% if(reply.status) { %>
                    <span class="status"><%= reply.status %></span>
                <% } %>
            </div>
            <div class="cols col-11 contents <% if(reply.status == 'mod') { %> contents-status <% } %>">
                <span class="datetime"><img src="../images/icon-clock.svg"><%= reply.date %>, <%= reply.time %></span>
                <h6><%= reply.name %></h6>
                <p>
                    <%= reply.content %>
                </p>
                <% if(reply.status != 'mod') { %>
                    <ul class="response-actions">
                        <li><a href="#"><img src="../images/reply-icon.svg">REPLY</a></li>
                        <li><a href="#">
							<svg class="like vf-complement-colour vf-complement-fill-colour vf-primary-text-colour-bg-colour" width="17px" height="14px" viewBox="0 0 17 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
									<title>Like Icon</title>
									<desc>A heart</desc>
									<defs></defs>
									<g id="Final" stroke="none" stroke-width="1" fill-rule="evenodd">
									<g id="My_Profile" transform="translate(-1673.000000, -328.000000)">
										<path d="M1690,332.546755 C1690,333.870966 1689.22787,334.883363 1689.22787,334.883363 C1688.80361,335.439185 1688.03961,336.291334 1687.52912,336.777238 L1682.42772,341.635572 C1681.91773,342.121476 1681.08277,342.121476 1680.57277,341.635572 L1675.47088,336.777238 C1674.96088,336.291334 1674.19639,335.439185 1673.77238,334.883363 C1673.77238,334.883363 1673,333.870966 1673,332.546755 C1673,330.035353 1675.13753,328 1677.77471,328 C1679.131,328 1680.35572,328.538459 1681.22468,329.403513 L1681.32126,329.499474 C1681.41931,329.611389 1681.58069,329.611389 1681.67874,329.499474 C1681.67874,329.499474 1681.67874,329.499474 1681.77532,329.403513 C1682.64428,328.538459 1683.869,328 1685.22529,328 C1687.86247,328 1690,330.035353 1690,332.546755 L1690,332.546755 Z" id="Heart_Icon"></path>
									</g>
								</g>
							</svg>
							<span><%= reply.likes %></span> LIKE</a></li>
                        <li><a href="#"><img src="../images/dislike.svg"><span><%= reply.dislikes %></span> DISLIKE</a></li>
                    </ul>
                    <ul class="actions">
                        <li><a href="#"><img src="../images/share-icon.svg"></a></li>
                        <li><a href="#"><img src="../images/flag-icon.svg"></a></li>
                        <li><a href="#">
                            <svg class="more-indicator" width="24px" height="6px" viewBox="0 0 24 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							    <!-- Generator: sketchtool 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
                                <title>5339FC5F-3ED0-4EEF-84D8-2CA28A46D64A</title>
                                <desc>Created with sketchtool.</desc>
                                <defs></defs>
                                <g id="Final" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <g id="Commenting_Reply_Pinned" transform="translate(-677.000000, -348.000000)" fill="#C9D8DF">
                                        <g id="Indicator_Icon" transform="translate(677.000000, 348.000000)">
                                            <path d="M21,5.999 C19.343,5.999 18,4.656 18,2.999 C18,1.343 19.343,0 21,0 C22.657,0 24,1.343 24,2.999 C24,4.656 22.657,5.999 21,5.999 L21,5.999 Z" id="IndicatorTwo"></path>
                                            <path d="M12,5.999 C10.343,5.999 9,4.656 9,2.999 C9,1.343 10.343,0 12,0 C13.657,0 15,1.343 15,2.999 C15,4.656 13.657,5.999 12,5.999 L12,5.999 Z" id="IndicatorThree" fill-opacity="0.75"></path>
                                            <path d="M3,5.999 C1.343,5.999 0,4.656 0,2.999 C0,1.343 1.343,0 3,0 C4.657,0 6,1.343 6,2.999 C6,4.656 4.657,5.999 3,5.999 L3,5.999 Z" id="IndicatorOne" fill-opacity="0.5"></path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                        </a></li>
                    </ul>
                <% } %>
            </div>
            <% if(reply.responses) { %>
                <% _.each(reply.responses, function(response) { %>
                    <div class="responses">
                        <img src="../images/reply.svg" class="reply-indicator">
                        <div class="cols col-1 avatar-contents">
                            <img src="<%= response.avatar.url %>">
                            <% if(!response.follow) { %>
                                <button type="button" class="btn-follow">FOLLOW</button>
                            <% } %>
                            <% if(response.status) { %>
                                <span class="status"><%= response.status %></span>
                            <% } %>
                        </div>
                        <div class="cols col-11 contents <% if(response.status == 'mod') { %> contents-status <% } %>">
                            <span class="datetime"><img src="../images/icon-clock.svg"><%= response.date %>, <%= response.time %></span>
                            <h6><%= response.name %></h6>
                            <p><%= response.content %></p>
                            <% if(response.status != 'mod') { %>
                                <ul class="response-actions">
                                    <li><a href="#"><img src="../images/reply-icon.svg">REPLY</a></li>
                                    <li><a href="#">
                                    	<svg class="like vf-complement-colour vf-complement-fill-colour vf-primary-text-colour-bg-colour" width="17px" height="14px" viewBox="0 0 17 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
											<title>Like Icon</title>
										    <desc>A heart</desc>
										    <defs></defs>
										    <g id="Final" stroke="none" stroke-width="1" fill-rule="evenodd">
										        <g id="My_Profile" transform="translate(-1673.000000, -328.000000)">
										            <path d="M1690,332.546755 C1690,333.870966 1689.22787,334.883363 1689.22787,334.883363 C1688.80361,335.439185 1688.03961,336.291334 1687.52912,336.777238 L1682.42772,341.635572 C1681.91773,342.121476 1681.08277,342.121476 1680.57277,341.635572 L1675.47088,336.777238 C1674.96088,336.291334 1674.19639,335.439185 1673.77238,334.883363 C1673.77238,334.883363 1673,333.870966 1673,332.546755 C1673,330.035353 1675.13753,328 1677.77471,328 C1679.131,328 1680.35572,328.538459 1681.22468,329.403513 L1681.32126,329.499474 C1681.41931,329.611389 1681.58069,329.611389 1681.67874,329.499474 C1681.67874,329.499474 1681.67874,329.499474 1681.77532,329.403513 C1682.64428,328.538459 1683.869,328 1685.22529,328 C1687.86247,328 1690,330.035353 1690,332.546755 L1690,332.546755 Z" id="Heart_Icon"></path>
										        </g>
										    </g>
										</svg>
                                        <span><%= response.likes %></span> LIKES</a></li>
                                    <li><a href="#"><img src="../images/dislike.svg"><span><%= response.dislikes %></span> DISLIKES</a></li>
                                </ul>
                                <ul class="actions">
                                    <li><a href="#"><img src="../images/share-icon.svg"></a></li>
                                    <li><a href="#"><img src="../images/flag-icon.svg"></a></li>
                                    <li><a href="#">
										<svg class="more-indicator-reply" width="24px" height="6px" viewBox="0 0 24 6" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
										    <!-- Generator: sketchtool 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
                                            <title>5339FC5F-3ED0-4EEF-84D8-2CA28A46D64A</title>
                                            <desc>Created with sketchtool.</desc>
                                            <defs></defs>
                                            <g id="Final" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <g id="Commenting_Reply_Pinned" transform="translate(-677.000000, -348.000000)" fill="#C9D8DF">
                                                        <g id="Indicator_Icon" transform="translate(677.000000, 348.000000)">
                                                            <path d="M21,5.999 C19.343,5.999 18,4.656 18,2.999 C18,1.343 19.343,0 21,0 C22.657,0 24,1.343 24,2.999 C24,4.656 22.657,5.999 21,5.999 L21,5.999 Z" id="IndicatorTwo"></path>
                                                            <path d="M12,5.999 C10.343,5.999 9,4.656 9,2.999 C9,1.343 10.343,0 12,0 C13.657,0 15,1.343 15,2.999 C15,4.656 13.657,5.999 12,5.999 L12,5.999 Z" id="IndicatorThree" fill-opacity="0.75"></path>
                                                            <path d="M3,5.999 C1.343,5.999 0,4.656 0,2.999 C0,1.343 1.343,0 3,0 C4.657,0 6,1.343 6,2.999 C6,4.656 4.657,5.999 3,5.999 L3,5.999 Z" id="IndicatorOne" fill-opacity="0.5"></path>
                                                        </g>
                                                    </g>
                                                </g>
                                        </svg>	
									</a></li>
                                </ul>
                            <% } %>
                        </div>
                    </div>
                <% }) %>
            <% } %>
        </div>
    <% }) %>
</div>

