.m-block {
    position: relative;
    display: inline-block;
    width: 170px;
    margin-right: 25px;

    &:last-child {
        margin-right: 0;
    }

    a {
        text-decoration: none;
        color: #666666;
        font-weight: normal;
    }

    .avatar {
        position: absolute;
        border: 1px solid #FFF;
        border-radius: 50px;

        &.right {
            left: 58px;
            z-index: 100;
        }

        &.middle {
            left: 30px;
            z-index: 101;
        }

        &.left {
            z-index: 102;
        }
    }

    .more {
        position: absolute;
        left: 125px;
        top: 268px;
    }

    .first {
        left: 0;
        top: 0;
    }

    .total-comments {
        position: absolute;
        top: 300px;
        color: #CCC;
        font-size: 12px;
        left: 5px;
    }
}

