.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: .5;
    z-index: 200;
}

.m-dialog {
    display: none;
    overflow-y: scroll;
    position: absolute;
    padding: 2%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    margin: 0 auto;
    // width: 670px;
    width: 50%;
    height: 50%;
    // max-height: 500px;
    background-color: #ffffff;
    border-radius: 3px;
    z-index: 300;

    ul {
        margin: 0;
        padding: 0;
        position: absolute;

        li {
            list-style: none;
            display: inline-block;
            margin-right: 15px;

            a {
                font-size: 12px;
                text-decoration: none;
                color: #CCCCCC;
                vertical-align: top;

                img, svg {
                    margin-right: 5px;
                    vertical-align: top;
                }

                .like {
                    fill: red;
                }

                span {
                    vertical-align: top;
                }
            }
        }

        &.actions {
            right: 45px;

            li:last-child {
                a {
                    svg {
                        vertical-align: middle;
                    }
                }
            }

            li:first-child {
                a {
                    img {
                        margin-top: -3px;
                    }

                    .more-indicator {
                        path {
                            fill: #25b5f8;
                        }
                        // fill: #25b5f8;
                    }
                }
            }
        }
    }


    .avatar-contents {
        width: 100px;

        .ribbon {
            position: absolute;
            width: 20px;
            left: 130px;
            top: 38px;
            fill: #005081;
        }

        .editor {
            color: #2d7199;
            font-size: 12px;
            position: absolute;
            left: 150px;
            top: 38px;
            font-weight: bold;
        }

        .btn-follow {
            border-radius: 50px;
            border: 1px solid #005081;
            background: #005081;
            color: #FFFFFF;
            padding: 2px 15px;
            margin-left: 12px;
            margin-bottom: 10px;
        }

        .status {
            display: block;
            text-align: center;
            color: #CCCCCC;
            text-transform: uppercase;
            font-size: 12px;
        }
    }

    .contents {
        padding: 15px;
        width: 555px;
        min-height: 135px;
        margin-top: 25px;
        margin-bottom: 30px;
        border-radius: 3px;
        background: #f6f8f9;

        .datetime {
            display: block;
            position: absolute;
            right: 65px;
            font-size: 10px;
            color: #9eb0b0;

            img {
                margin-bottom: -2px;
                margin-right: 3px;
            }
        }

        h6 {
            font-size: 14px;
            margin: 0;
            padding: 0;
            color: #596066;
        }

        p {
            color: #b2b2b3;
        }
    }

    .responses {
        margin-left: 60px;
        position: relative;

        .datetime {
            right: 40px;
        }

        .actions {
            right: 15px;
        }

        .contents {
            width: 495px;
            min-height: 155px;
            margin-bottom: 30px;
        }

        .reply-indicator {
            position: absolute;
            top: 45px;
            left: -30px;
        }
    }

    .contents-status {
        background-color: #c4edff;

        h6 {
            color: #2b7091;
        }

        p {
            color: #69a3be;
        }
    }

}

