/* Base styles */
body {
    font-family: Sans-serif, Arial;

    .wrapper {
        width: 769px;
        margin: 0 auto;
        border: 1px solid #CCC;
        padding: 10px;
        height: 385px;
    }

    .cols {
        display: inline-block;
        vertical-align: top;
        margin-right: 10px;

        .col-1 {
            width: 100px;
        }

        .col-11 {
            width: 445px;
        }
    }
}
