/**
 * ----------------------------------------------------------------------------------------
 * style.scss
 *
 * CSS framework.
 * ----------------------------------------------------------------------------------------
 */
/* Base styles */
body {
  font-family: Sans-serif, Arial; }
  body .wrapper {
    width: 769px;
    margin: 0 auto;
    border: 1px solid #CCC;
    padding: 10px;
    height: 385px; }
  body .cols {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px; }
    body .cols .col-1 {
      width: 100px; }
    body .cols .col-11 {
      width: 445px; }

.m-block {
  position: relative;
  display: inline-block;
  width: 170px;
  margin-right: 25px; }
  .m-block:last-child {
    margin-right: 0; }
  .m-block a {
    text-decoration: none;
    color: #666666;
    font-weight: normal; }
  .m-block .avatar {
    position: absolute;
    border: 1px solid #FFF;
    border-radius: 50px; }
    .m-block .avatar.right {
      left: 58px;
      z-index: 100; }
    .m-block .avatar.middle {
      left: 30px;
      z-index: 101; }
    .m-block .avatar.left {
      z-index: 102; }
  .m-block .more {
    position: absolute;
    left: 125px;
    top: 268px; }
  .m-block .first {
    left: 0;
    top: 0; }
  .m-block .total-comments {
    position: absolute;
    top: 300px;
    color: #CCC;
    font-size: 12px;
    left: 5px; }

.overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: .5;
  z-index: 200; }

.m-dialog {
  display: none;
  overflow-y: scroll;
  position: absolute;
  padding: 2%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 50%;
  background-color: #ffffff;
  border-radius: 3px;
  z-index: 300; }
  .m-dialog ul {
    margin: 0;
    padding: 0;
    position: absolute; }
    .m-dialog ul li {
      list-style: none;
      display: inline-block;
      margin-right: 15px; }
      .m-dialog ul li a {
        font-size: 12px;
        text-decoration: none;
        color: #CCCCCC;
        vertical-align: top; }
        .m-dialog ul li a img, .m-dialog ul li a svg {
          margin-right: 5px;
          vertical-align: top; }
        .m-dialog ul li a .like {
          fill: red; }
        .m-dialog ul li a span {
          vertical-align: top; }
    .m-dialog ul.actions {
      right: 45px; }
      .m-dialog ul.actions li:last-child a svg {
        vertical-align: middle; }
      .m-dialog ul.actions li:first-child a img {
        margin-top: -3px; }
      .m-dialog ul.actions li:first-child a .more-indicator path {
        fill: #25b5f8; }
  .m-dialog .avatar-contents {
    width: 100px; }
    .m-dialog .avatar-contents .ribbon {
      position: absolute;
      width: 20px;
      left: 130px;
      top: 38px;
      fill: #005081; }
    .m-dialog .avatar-contents .editor {
      color: #2d7199;
      font-size: 12px;
      position: absolute;
      left: 150px;
      top: 38px;
      font-weight: bold; }
    .m-dialog .avatar-contents .btn-follow {
      border-radius: 50px;
      border: 1px solid #005081;
      background: #005081;
      color: #FFFFFF;
      padding: 2px 15px;
      margin-left: 12px;
      margin-bottom: 10px; }
    .m-dialog .avatar-contents .status {
      display: block;
      text-align: center;
      color: #CCCCCC;
      text-transform: uppercase;
      font-size: 12px; }
  .m-dialog .contents {
    padding: 15px;
    width: 555px;
    min-height: 135px;
    margin-top: 25px;
    margin-bottom: 30px;
    border-radius: 3px;
    background: #f6f8f9; }
    .m-dialog .contents .datetime {
      display: block;
      position: absolute;
      right: 65px;
      font-size: 10px;
      color: #9eb0b0; }
      .m-dialog .contents .datetime img {
        margin-bottom: -2px;
        margin-right: 3px; }
    .m-dialog .contents h6 {
      font-size: 14px;
      margin: 0;
      padding: 0;
      color: #596066; }
    .m-dialog .contents p {
      color: #b2b2b3; }
  .m-dialog .responses {
    margin-left: 60px;
    position: relative; }
    .m-dialog .responses .datetime {
      right: 40px; }
    .m-dialog .responses .actions {
      right: 15px; }
    .m-dialog .responses .contents {
      width: 495px;
      min-height: 155px;
      margin-bottom: 30px; }
    .m-dialog .responses .reply-indicator {
      position: absolute;
      top: 45px;
      left: -30px; }
  .m-dialog .contents-status {
    background-color: #c4edff; }
    .m-dialog .contents-status h6 {
      color: #2b7091; }
    .m-dialog .contents-status p {
      color: #69a3be; }

/*# sourceMappingURL=styles.css.map */
